* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 1519px;
  background-color: #040d3e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrap_intro {
  width: 100%;
  height: 1509px;
  background: linear-gradient(183deg, #3b1d60 15%, transparent 85%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrap_intro .intro {
  width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  position: relative;
}
body .wrap_intro .intro nav {
  width: 1100px;
  height: 36px;
  margin-top: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .wrap_intro .intro nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .wrap_intro .intro nav .left svg {
  cursor: pointer;
}
body .wrap_intro .intro nav .left ul {
  width: 347px;
  height: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 55px;
}
body .wrap_intro .intro nav .left ul li a {
  font-size: 12px;
  letter-spacing: 2px;
  color: #b5b5b5;
  text-decoration: none;
  position: relative;
}
body .wrap_intro .intro nav .left ul li a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f2994a;
  position: absolute;
  bottom: -5px;
  transform: scaleX(0);
  transition: 0.3s;
}
body .wrap_intro .intro nav .left ul li a:hover::before {
  transform: scaleX(1);
  transition: 0.3s;
}
body .wrap_intro .intro nav .right button {
  width: 112px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #f2994a;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
}
body .wrap_intro .intro nav .right button:nth-child(1) {
  color: #f2994a;
  margin-right: 20px;
}
body .wrap_intro .intro nav .right button:nth-child(1):hover {
  background-color: #f2994a;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
body .wrap_intro .intro nav .right button:nth-child(1):hover + button:nth-child(2) {
  background-color: transparent;
  color: #f2994a;
  transition: 0.3s;
}
body .wrap_intro .intro nav .right button:nth-child(2) {
  background-color: #f2994a;
  cursor: pointer;
  transition: 0.3s;
}
body .wrap_intro .intro .text_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  width: 540px;
  height: 440px;
  margin-top: 143px;
}
body .wrap_intro .intro .text_area > h1 {
  width: 531px;
  height: 150px;
  line-height: 50px;
  font-size: 44px;
  color: #99efd0;
  cursor: default;
}
body .wrap_intro .intro .text_area > span {
  margin-top: 19px;
  width: 468px;
  height: 44px;
  line-height: 22px;
  color: #8476aa;
  font-size: 18px;
}
body .wrap_intro .intro .text_area .btn {
  width: 339px;
  height: 46px;
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
}
body .wrap_intro .intro .text_area .btn button {
  width: 157px;
  height: 46px;
  background-color: transparent;
  border: 1px solid #f2994a;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
}
body .wrap_intro .intro .text_area .btn button:nth-child(1) {
  color: #f2994a;
  margin-left: 20px;
}
body .wrap_intro .intro .text_area .btn button:nth-child(1):hover {
  background-color: #f2994a;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
body .wrap_intro .intro .text_area .btn button:nth-child(1):hover + button:nth-child(2) {
  background-color: transparent;
  color: #f2994a;
  transition: 0.3s;
}
body .wrap_intro .intro .text_area .btn button:nth-child(2) {
  background-color: #f2994a;
  cursor: pointer;
  transition: 0.3s;
}
body .wrap_intro .intro .text_area .youtube {
  width: 540px;
  height: 80px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .wrap_intro .intro .text_area .youtube .frame {
  width: 140px;
  height: 100%;
  background-color: #361c5d;
  display: grid;
  place-items: center;
  border-radius: 4px;
}
body .wrap_intro .intro .text_area .youtube .frame i {
  color: #fff;
  font-size: 38px;
  cursor: pointer;
  transition: 0.3s;
}
body .wrap_intro .intro .text_area .youtube .frame i:hover {
  opacity: 0.5;
  transition: 0.3s;
}
body .wrap_intro .intro .text_area .youtube .text {
  height: 380px;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  color: #6d6d78;
}
body .wrap_intro .intro .text_area .youtube .text > span {
  width: 380px;
  height: 44px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
body .wrap_intro .intro .text_area .youtube .text a {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #6d6d78;
  text-decoration: none;
}
body .wrap_intro .intro .companies {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 103px;
}
body .wrap_intro .intro .companies img {
  height: 25px;
  opacity: 0.4;
}
body .wrap_intro .intro > .image1 {
  position: absolute;
  top: 219.15px;
  left: 540px;
}
body .wrap_intro .intro > .image2 {
  position: absolute;
  top: 235.65px;
  left: 620px;
}
body .wrap_intro .intro > .image3 {
  z-index: -99;
  position: absolute;
  left: -170px;
  top: 688px;
  opacity: 0.2;
}
body .wrap_intro .intro .choice {
  width: 100%;
  height: 382px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrap_intro .intro .choice > h1 {
  width: 300px;
  height: 50px;
  margin-left: 70px;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
  margin-top: 101px;
}
body .wrap_intro .intro .choice > p {
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 13px;
  color: #8476aa;
}
body .wrap_intro .intro .choice .grid {
  width: 997px;
  height: 260px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 43px;
}
body .wrap_intro .intro .choice .grid .content {
  width: 299px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
body .wrap_intro .intro .choice .grid .content .icon {
  width: 40px;
  height: 100%;
}
body .wrap_intro .intro .choice .grid .content .icon i {
  font-size: 24px;
  color: #99efd0;
  margin-top: 2px;
  padding-right: 5px;
  cursor: pointer;
}
body .wrap_intro .intro .choice .grid .content .text {
  width: 247px;
  height: 100%;
}
body .wrap_intro .intro .choice .grid .content .text h3 {
  font-size: 18px;
  color: #99efd0;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}
body .wrap_intro .intro .choice .grid .content .text span {
  width: 247px;
  height: 66px;
  font-size: 14px;
  line-height: 22px;
  color: #8476aa;
}
body .traffic {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .traffic .text {
  width: 1100px;
  height: 100%;
  padding-left: 80px;
  position: relative;
}
body .traffic .text h1 {
  width: 470px;
  height: 100px;
  font-size: 42px;
  margin-top: 11px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: #99efd0;
}
body .traffic .text h1 a {
  color: #f2994a;
  text-decoration: none;
  cursor: pointer;
}
body .traffic .text > p {
  width: 470px;
  height: 56px;
  font-size: 15px;
  margin-top: 32px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8476aa;
}
body .traffic .text button {
  width: 155px;
  height: 48px;
  background-color: #f2994a;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 4px;
  margin-top: 43px;
  border: 1px solid #f2994a;
  cursor: pointer;
  transition: 0.3s;
}
body .traffic .text button:hover {
  background-color: #f0882d;
  transition: 0.3s;
}
body .traffic .text img {
  z-index: -1;
  position: absolute;
  left: -230px;
}
body .save_money {
  width: 100%;
  height: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .save_money > h1 {
  width: 864px;
  height: 84px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.33;
  text-align: center;
  color: #99efd0;
}
body .save_money > h1 a {
  color: #f2994a;
  text-decoration: none;
}
body .save_money > span {
  width: 414px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  color: #8476aa;
  letter-spacing: 0.2px;
  margin-top: 32px;
}
body .save_money ul {
  width: 1100px;
  height: 118px;
  list-style: none;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .save_money ul li {
  width: 291px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .save_money ul li h1 {
  color: #99efd0;
  height: 42px;
  line-height: 42px;
  font-size: 36px;
  cursor: pointer;
}
body .save_money ul li span {
  width: 291px;
  text-align: center;
  line-height: 20px;
  margin-top: 16px;
  color: #8476aa;
  font-size: 15px;
  letter-spacing: 0.2px;
}
body .next_project {
  width: 100%;
  height: 553px;
  margin-top: 169px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
body .next_project h1 {
  width: 770px;
  height: 100px;
  text-align: center;
  color: #99efd0;
}
body .next_project h1 a {
  color: #f2994a;
  text-decoration: none;
}
body .next_project button {
  width: 164px;
  height: 54px;
  margin-top: 46px;
  background-color: #f2994a;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600px;
  letter-spacing: 2px;
  cursor: pointer;
}
body .next_project button:hover {
  background-color: #f0882d;
  transition: 0.3s;
}
body .next_project img:nth-child(3) {
  z-index: -99;
  position: absolute;
  top: 61px;
}
body .next_project img:nth-child(4) {
  position: absolute;
  top: 267px;
}
body .business {
  width: 100%;
  height: 650px;
  margin-top: 191px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .business .text {
  width: 1100px;
  height: 100%;
  padding-left: 80px;
  position: relative;
}
body .business .text h1 {
  width: 470px;
  height: 100px;
  font-size: 42px;
  margin-top: 11px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: #99efd0;
}
body .business .text h1 a {
  color: #f2994a;
  text-decoration: none;
  cursor: pointer;
}
body .business .text > p {
  width: 470px;
  height: px;
  font-size: 15px;
  margin-top: 32px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8476aa;
}
body .business .text button {
  width: 155px;
  height: 48px;
  background-color: #f2994a;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 4px;
  margin-top: 43px;
  border: 1px solid #f2994a;
  cursor: pointer;
  transition: 0.3s;
}
body .business .text button:hover {
  background-color: #f0882d;
  transition: 0.3s;
}
body .business .text .funding {
  width: 260px;
  height: 414px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: -47px;
  right: 113px;
}
body .business .text .funding .image {
  width: 100%;
  height: 200px;
  background-image: url("./img/Mask.png");
  background-size: cover;
  position: relative;
}
body .business .text .funding .image .icon {
  width: 60px;
  height: 60px;
  background-color: #13c296;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -30px;
  top: 122px;
}
body .business .text .funding .image .icon i {
  font-size: 30px;
  color: #fff;
}
body .business .text .funding .image .month {
  width: 130px;
  height: 65px;
  background-color: #516ea9;
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  z-index: -1;
  position: absolute;
  top: 246px;
  right: -113px;
}
body .business .text .funding .image .month p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 1px;
}
body .business .text .funding .image .month span {
  font-size: 10px;
  line-height: 13px;
}
body .business .text .funding .content {
  width: 100%;
  height: 214px;
  padding: 20px 30px;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .business .text .funding .content h2 {
  font-size: 16px;
  line-height: 19.5px;
  color: #212b36;
  margin-bottom: 2px;
}
body .business .text .funding .content span {
  color: #637381;
  font-size: 10px;
  line-height: 13px;
}
body .business .text .funding .content > p {
  color: #13c296;
  font-size: 24px;
  line-height: 29px;
  margin-top: 22px;
  margin-bottom: 5px;
}
body .business .text .funding .content ul {
  width: 100%;
  height: 46px;
  margin-top: 20px;
  border-top: 1px solid #d6dbdf;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body .business .text .funding .content ul li {
  height: 31px;
  display: flex;
  flex-direction: column;
}
body .business .text .funding .content ul li p {
  color: #212b36;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
body .finding_info {
  width: 1100px;
  height: 446px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .finding_info .image {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
body .finding_info .image img {
  position: absolute;
}
body .finding_info .image .photo {
  margin-left: 77px;
}
body .finding_info .image #gr8 {
  top: 0;
  z-index: -9;
}
body .finding_info .image #gr2 {
  right: -500px;
  bottom: 149px;
  z-index: -9;
}
body .finding_info .image #figure {
  bottom: 82px;
  z-index: -9;
}
body .finding_info .text {
  width: 512px;
  height: 290px;
  letter-spacing: 0.5px;
  position: relative;
}
body .finding_info .text h1 {
  color: #99efd0;
  font-size: 26px;
  line-height: 32px;
}
body .finding_info .text > p {
  font-size: 15px;
  line-height: 20px;
  color: #8476aa;
  margin-top: 32px;
}
body .finding_info .text ul {
  width: 100%;
  height: 138px;
  margin-top: 48px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .finding_info .text ul li {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
body .finding_info .text ul li i {
  font-size: 20px;
  color: #99efd0;
}
body .finding_info .text ul li p {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #99efd0;
  margin-top: 16px;
  margin-bottom: 8px;
}
body .finding_info .text ul li span {
  font-size: 15px;
  line-height: 20px;
  color: #8476aa;
}
body .finding_info .text img {
  position: absolute;
  top: -155px;
  right: -208px;
}
body .email {
  width: 100%;
  height: 630px;
  margin-top: 50px;
  background: url("./svg/Group (1).svg");
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
body .email .wrap {
  width: 940px;
  height: 324px;
  padding-top: 50px;
  background-color: rgba(60, 62, 125, 0.1882352941);
  -webkit-backdrop-filter: blur(134px);
          backdrop-filter: blur(134px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .email .wrap h1 {
  font-size: 36px;
  line-height: 43px;
  color: #f2994a;
  margin-bottom: 20px;
}
body .email .wrap span {
  font-size: 16px;
  line-height: 22px;
  color: #95a1bb;
  text-align: center;
}
body .email .wrap form {
  width: 416px;
  height: 56px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  margin: 23px 0 16px 0;
}
body .email .wrap form input {
  width: 288px;
  height: 100%;
  background-color: rgba(246, 246, 246, 0.062745098);
  padding: 18px 16px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  border: none;
  outline: none;
}
body .email .wrap form input::-moz-placeholder {
  color: #fff;
  opacity: 20%;
}
body .email .wrap form input:-ms-input-placeholder {
  color: #fff;
  opacity: 20%;
}
body .email .wrap form input::placeholder {
  color: #fff;
  opacity: 20%;
}
body .email .wrap form button {
  width: 128px;
  height: 100%;
  background-color: #f2994a;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.3s;
  cursor: pointer;
}
body .email .wrap form button:hover {
  background-color: #f0882d;
  transition: 0.3s;
}
body .email .wrap p {
  font-size: 14px;
  line-height: 20px;
  color: #8476aa;
  letter-spacing: 0.3px;
}
body footer {
  width: 992px;
  height: 437px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body footer ul {
  list-style: none;
}
body footer a {
  text-decoration: none;
  color: #fff;
}
body footer a:hover {
  text-decoration: underline;
}
body footer .top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .top h1 {
  font-size: 32px;
  color: #f2994a;
  letter-spacing: 0.5px;
}
body footer .top .icons {
  display: flex;
}
body footer .top .icons li {
  margin-left: 16px;
  cursor: pointer;
}
body footer .big_ul {
  width: 100%;
  height: 171px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .big_ul ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
body footer .big_ul ul h1 {
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 25px;
}
body footer .big_ul ul li {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}
body footer .copyright {
  display: flex;
}
body footer .copyright li {
  margin-left: 32px;
  font-size: 14px;
  color: #8d8d8d;
}
body footer .copyright li a {
  color: #8d8d8d;
}
body > a {
  width: 30px;
  height: 30px;
  background-color: #f2994a;
  border-radius: 50%;
  opacity: 0.7;
  display: grid;
  place-items: center;
  text-decoration: none;
  transition: 0.3s;
  position: absolute;
  bottom: 25px;
  right: 25px;
  position: fixed;
}
body > a i {
  color: #fff;
}
body > a:hover {
  transition: 0.3s;
  opacity: 1;
}/*# sourceMappingURL=figma.css.map */